@model List<OrderDetailViewModel>


@{
    ViewData["Title"] = "Order PickUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post">

    <br /><br />
    <h2 class="text-info"> Orders Ready for Pickup :</h2>
    <div class="border backgroundWhite">
        <br />
        <div>
            @if (Model.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            @Html.DisplayNameFor(m => m[0].OrderHeader.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m[0].OrderHeader.PickupName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m[0].OrderHeader.ApplicationUser.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m[0].OrderHeader.DeliveryTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m[0].OrderHeader.OrderTotal)
                        </th>
                        <th>
                            Total Items
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.OrderHeader.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.OrderHeader.PickupName)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.OrderHeader.ApplicationUser.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.OrderHeader.DeliveryTime)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.OrderHeader.OrderTotal)
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success form-control" asp-action="OrderDelivery" asp-controller="Order" asp-route-OrderId="@item.OrderHeader.Id">
                                    <i class="far fa-list-alt"></i> Order Delivered
                                </button>
                            </td>
                        </tr>
                    }
                </table>
                <br />
            }
            else
            {
                <p> No Orders exists</p>
            }

        </div>
    </div>
</form>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog-centered modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-light">
                <div class="col-10 offset-1">
                    <center><h5 class="modal-title">Order Details</h5></center>
                </div>
                <div class="col-1">
                    <button type="button" class="btn btn-outline-secondary close float-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body justify-content-center" id="myModalContent">
            </div>
        </div>
    </div>
</div>


@section Scripts {
   @*  <script>
        var PostBackURL = '/Customer/Order/GetOrderDetails';

        $(function () {
            $(".anchorDetail").click(function () {
                // to get data-id
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');

                $.ajax({
                    type: "GET",
                    url: PostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    cache: false,
                    datatyype: "json",
                    success: function (data) {
                        // pass this returning data to this div
                        $('#myModalContent').html(data);
                        $('#myModal').modal('show');
                    },
                    error: function () {
                        alert("Dynamic content load failed");
                    }
                });
            });
        });
    </script> *@
}